@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Outfit:wght@300&family=Red+Hat+Text&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root.dark {
  --body-bgColor: hsl(0, 0%, 90%);
  --header-txtColor: hsl(60, 10%, 20%);
  --screen-bgColor: hsl(0, 0%, 93%);
  --keypad-bgColor: hsl(0, 5%, 81%);
  --delKey-bgColor: hsl(185, 42%, 37%);
  --mainKeys-bgColor: hsl(45, 7%, 89%);
  --eqlKey-bgColor: hsl(25, 98%, 40%);
  --keyTxt-color: hsl(60, 10%, 20%);
  --keyshadow-bgColor: hsl(35, 10%, 60%);
  --delKeyshadow-bgColor: hsl(185, 58%, 25%);
  --eqlKetshadow-bgColor: hsl(25, 99%, 27%);
}

:root,
:root.light {
  --body-bgColor: hsl(222, 26%, 31%);
  --header-txtColor: #fff;
  --screen-bgColor: hsl(224, 36%, 15%);
  --keypad-bgColor: hsl(223, 32%, 20%);
  --delKey-bgColor: hsl(225, 21%, 50%);
  --mainKeys-bgColor: hsl(30, 25%, 85%);
  --eqlKey-bgColor: hsl(6, 63%, 50%);
  --keyTxt-color: hsl(221, 15%, 30%);
  --keyshadow-bgColor: hsl(28, 15%, 65%);
  --eqlKeyshadow-bgColor: hsl(6, 70%, 34%);
  --delKeyshadow-bgColor: hsl(224, 28%, 35%);
}

:root.magentaNeon {
  --body-bgColor: hsl(268, 75%, 9%);
  --header-txtColor: hsl(52, 100%, 62%);
  --screen-bgColor: hsl(268, 71%, 12%);
  --keypad-bgColor: hsl(268, 71%, 12%);
  --delKey-bgColor: hsl(281, 89%, 26%);
  --mainKeys-bgColor: hsl(268, 47%, 21%);
  --eqlKey-bgColor: hsl(176, 100%, 44%);
  --keyTxt-color: hsl(52, 100%, 62%);
  --keyshadow-bgColor: hsl(290, 70%, 36%);
  --delKeyshadow-bgColor: hsl(285, 91%, 50%);
  --eqlKeyshadow-bgColor: hsl(177, 92%, 70%);
}

body {
  background-color: var(--body-bgColor);
  font-family: "Koulen", cursive;
  font-family: "Outfit", sans-serif;
  font-family: "Red Hat Text", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10vh;
}

.container {
  display: flexbox;
  width: 320px;
  height: 680px;
  background-color: var(--delKey-bgColor);
  border-radius: 12px;
  box-shadow: 0 4px 2px 4px rgba(0, 0, 0, 0.2);
  padding: 0 12px 0 12px;
}

header {
  color: var(--header-txtColor);
  height: 12vh;
  width: 325px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}

header h1 {
  font-size: 30px;
  margin: 14px 0 0 10px;
}

.toggleDesignMain {
  display: flex;
  justify-content: space-between;
  width: 145px;
  font-size: 12px;
}

.themeNum {
  display: flex;
  justify-content: space-between;
  margin: 0 0 5px 12px;
  word-spacing: 12px;
  font-weight: bolder;
}

.theme {
  align-self: flex-end;
  justify-content: space-between;
  margin: 0 0 5px 8px;
  text-transform: uppercase;
  font-weight: bolder;
}

.themeToggle {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-radius: 3rem;
  background-color: var(--keypad-bgColor);
  width: 66px;
  padding: 6px 1px 2px 1px;
  margin-right: 10px;
}

.custom-ratio-btn {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin-right: 4px;
}

.custom-radio-btn input {
  display: none;
}

.custom-radio-btn .checkmark {
  width: 1rem;
  height: 1rem;
  margin: 0 .1rem;
  background-color: var(--eqlKey-bgColor);
  border-radius: 50%;
  display: inline-block;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.custom-radio-btn input:checked + .checkmark {
  opacity: 1;
  display: inline-block;
}

.screen {
  background-color: var(--screen-bgColor);
  border: none;
  outline: none;
  color: var(--header-txtColor);
  text-align: end;
  padding: 20px;
  width: 281px;
  height: 30px;
  border-radius: 10px;
  font-size: 26px;
  font-weight: bold;
  scroll-behavior: none;
  scrollbar-width: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.calculate {
  background-color: var(--keypad-bgColor);
  margin-top: 1.7rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 23rem;
  padding: 25px 0 25px 0;
  user-select: none;
  text-transform: uppercase;
}

.sml {
  display: grid;
  grid-template-columns: 60px 60px 60px 60px;
  row-gap: 16px;
  column-gap: 14px;
}

.med {
  display: grid;
  grid-template-columns: 134px 134px;
  column-gap: 14px;
  margin-top: 12px;
}

.sml .box {
  background-color: var(--mainKeys-bgColor);
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 20px;
  color: var(--keyTxt-color);
  cursor: pointer;
  box-shadow: 0 4px 0 var(--keyshadow-bgColor);
}

.med .box {
  color: #fff;
  border-radius: 5px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.del,
.clear-entry {
  color: #fff;
  font-size: 18px;
  background-color: var(--delKey-bgColor);
  box-shadow: 0 4px 0 var(--delKeyshadow-bgColor);
}

.equal {
  background-color: var(--eqlKey-bgColor);
  box-shadow: 0 4px 0 var(--eqlKeyshadow-bgColor);
  font-size: 55px;
}

/* @media screen and (max-width: 500px) {
  .container {
    display: unset;
    width: auto;
    height: auto;
    padding-bottom: 40px;
  }

  .calculate {
    margin: 0.5rem 0 0 0;
    width: 18rem;
    height: 21rem;
    padding: 20px 0 20px 0;
    display: absolute;
    justify-content: center;
    align-items: center;
  }
  input {
    padding: 12px;
    width: 264px;
    font-size: 22px;
    display: flex;
  }
  header {
    height: 12vh;
    width: 285px;
  }
  header h1 {
    font-size: 24px;
  }
  .theme {
    font-size: 10px;
    margin: 0 0 6px 16px;
  }
  header p {
    font-size: 13px;
  }
  .sml .box {
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .equal {
    width: 110px;
  }
  .clear-entry {
    width: 110px;
  }
  .med {
    display: flex;
    justify-content: center;
    align-items: center;
  }
} */
